body {
    margin: 0;
}

.element-1 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.element-1 a {
    width: 25%;
    box-sizing: border-box;
    padding: .25rem;
}
.element-1 img {
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.element-2 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.element-2 a {
    width: 25%;
    box-sizing: border-box;
    padding: .25rem;
}
.element-2 img {
    width: 100%;
    display: flex;
    border-radius: 10px;
    row-gap: 10px;
}
.element__text{
    color: black;
    text-align: center;
}